<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Loja Virtual</title>    
</head>


<body>
    <h2>Vitrine </h2>
    
    <div id="produtos">
      
    </div> <!---produtos-->

    <h2>Carrinho </h2>
    <div id="carrinho">
       
    </div> <!---carrinho-->


    <script src="/src/app.js"></script>
</body>
</html>